**/__pycache__
**/build*
**/install*
**/log/
todo.md
.vscode

# pixi environments
.pixi
*.egg-info

# not ready to push yet
/workspace/ros_ws/src/trajectory_optimizer_base/
/workspace/ros_ws/src/trajectory_optimizer_ground_vehicle/
/workspace/ros_ws/src/velocity_smoother_ground_vehicle/
/workspace/ros_ws/src/controller/lat_based_lqr_controller
/workspace/ros_ws/src/controller/lqr_controller
/workspace/ros_ws/src/controller/mpcc_controller
/workspace/ros_ws/src/papers
/workspace/ros_ws/src/map_generator